@page
@model RazorPagesCursoUdemy.Pages.Filmes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Filme.Title" class="control-label"></label>
                <input asp-for="Filme.Title" class="form-control" />
                <span asp-validation-for="Filme.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filme.Gender" class="control-label"></label>
                <input asp-for="Filme.Gender" class="form-control" />
                <span asp-validation-for="Filme.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filme.LaunchDate" class="control-label"></label>
                <input asp-for="Filme.LaunchDate" class="form-control" />
                <span asp-validation-for="Filme.LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filme.Price" class="control-label"></label>
                <input asp-for="Filme.Price" class="form-control" />
                <span asp-validation-for="Filme.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filme.Points" class="control-label"></label>
                <input asp-for="Filme.Points" class="form-control" />
                <span asp-validation-for="Filme.Points" class="text-danger"></span>
            </div>
            <div class="m-2 form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
