@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my Simple Crud of Movie in Razor!</p>
    
    <section>
        <p>The motivation for this is understand how Razor Pages could be used in a project! so let's start  the studies</p>

    </section>
</div>
